@import url(reset.css);
@import url('https://fonts.googleapis.com/css?family=Montserrat:300&display=swap');


body{
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    /* text-align: center; */
}

main{
    width: 60vw;
    max-width: 60ch;
    min-width: min-content;
    height: min-content;
    margin: auto;
    padding: 4vmin;

    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    background-image: url(images/coins-pexels-anthony.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
}

h1, h2, p, label, div, a{
    color: white;
}

form{
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-heading{
    text-align: center;
    margin: 7vmin;
    font-size: 36px;
}

label[for="bill"]{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 2vmin;
}

.tip-display-none{
    display: none;
}


#calculate-button{
    display: inline-block;
    border: 3px solid white;
    border-radius: 10px;
    padding: 10px;
    margin: 7vmin;
    font-size: 20px;
}

#calculate-button:hover{
    color: #cf8a5d;
    border: 3px solid #cf8a5d;
}

.radio{
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="text"]{
    background: lightgray;
    height: 30px;
    border-radius: 5px;
    /* border: none; */
    text-align: center;
}


